<!DOCTYPE HTML>
<html lang="en">
<html>
	<head>
		<title>JsGame</title>
		<meta charset="UTF-8">
        <meta name="keywords" content="7bits, Омск, html, css, js">
        <meta name="description" content="js course 2017">
        <link rel="stylesheet" href="../styles/style.css">    
	</head>

    
	<body>
    <header>
    </header>

 	<div class = "header-center">
		<button class = "reactangle" id = "red"></button>
		<button class = "reactangle" id = "orange"></button>
		<button class = "reactangle" id = "yellow"></button>
		<button class = "reactangle" id = "green"></button>
	</div>

        <footer class = "footer">
			<p id = "hp"></p>
        </footer>
        
    <script src="../scripts/script.js"></script>
        
	</body>
</html>
